@tailwind base;
@tailwind components;
@tailwind utilities;

.brown {color: #30291D;}
.brown-light {color: #70644E;}
.brown-lighter {color: #92856A;}
.lighter {color: #DDDBCF;}

@font-face {
    font-family: "DistilleryDisplay";
    src: local("DistilleryDisplay"),
    url(./fonts/DistilleryDisplay.ttf) format("truetype");
}

@font-face {
    font-family: "EFCOBrookshireRegular";
    src: local("EFCOBrookshireRegular"),
    url(./fonts/EFCOBrookshireRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Bosk";
    src: local("Bosk"),
    url(./fonts/Bosk.ttf) format("truetype");
}

body {
    background-color: #70644E;
}

.pre-wrap {
    white-space: pre;
}
.italic {
    font-style: italic;
}
.font-bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    transition: all .1s;
}

.clickable:hover {
    filter: brightness(130%);
    transform: scale(0.98);
}

.clickable:focus {
    filter: brightness(130%);
    transform: scale(0.93);
}

.scale-enter-active,
.scale-leave-active {
    transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0.9);
}
